<form action="/signup" method="POST">
   <input type="email" name="email" id="" placeholder="Ingrese el Correo">
   <input type="password" name="password" id="" placeholder="Ingrese su Contraseña">
   <button type="submit">Ingresar</button>
</form>